li{
    margin: 0.5em 0em;
}

li span{
    display: inline-block;
    width: 50%;
    color: #fef5c8;
    font-weight: 700;
}

li button{
    display: inline-block;
    width: 24%;
    color: #013750;
    font-weight: 700;
    height: 2.5em;
    margin-right: 0.4em;
}

li button:nth-child(3) {
    background: #f23e02;
    cursor: pointer;
}

li button:nth-child(2) {
background: #fef5c8;
cursor: pointer;
}

.second-form{
    background-color: #013750;
    color:#fef5c8;
    margin: 0.5em;
    padding: 0.5em;
}

form button{
    display: inline-block;
    width: 24%;
    color: #013750;
    background-color: #fef5c8;
    font-weight: 700;
    height: 2.5em;
    margin-right: 0.4em;
    cursor: pointer;
}

.second-form input{
    display: inline-block;
    width: 50%;
    height: 2.2em;
    color: #013750;
    font-weight: 700;
    cursor: pointer;
}